.todo {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  border-radius: 12px;
  margin-bottom: 20px;
}
.todo h2 {
  color: rgb(2, 2, 130);
}

.chartContainer h2 {
  text-align: center;
  color: rgb(2, 2, 130);
}

.recentContainer {
  width: 130%;
  transform: translateX(-10%);
  height: 270px;
  overflow: auto;
}

.recent {
  background-color: rgba(31, 31, 31, 0.247);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 90%;
  margin-bottom: 10px;
  padding: 4px 0 15px 0;
}
.recent > span {
  font-size: smaller;
  font-style: italic;
  font-variant: small-caps;
  color: rgb(2, 2, 130);
  margin-right: 78%;
}
.record {
  font-size: large;
  font-weight: bold;
  margin-bottom: 25%;
  padding-bottom: 10%;
}

.buttonContainer {
  margin-top: 15px;
  padding: 10px 0;
}

.recentButton {
  padding: 4px 10px;
  border: none;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgb(2, 2, 130);
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .todo {
    margin-top: 30%;
    width: 89%;
  }
}
